body, html{
    margin:0px;
    padding:0px;
}

body{
    background:white;
    height:600px;
}

*{
    font-family: 'Helvetica Neue', 'Helvetica', 'Sans-serif';
    font-weight: 100;
}

.row{
    position:relative;
    display:block;
}

.column{
    width:48%;
    display:inline-block;
    margin:10px 1%;
    float:left;    
}

.center{
    text-align:center;
}

.clear{
    clear:both;
}

button{
    cursor:pointer;
}
button:hover{
    opacity:0.8;
}

section{
    display:inline-block;
    position:relative;
    margin:0px;
    padding:0px;
    float:left;
}

section#info{
    clear:left;
    width:70%;
    height:100px;

    /* TODO: remove next 2 lines: */
    background:red;
    color:white;
}

section#observatory{
    clear:left;
    width:70%;
    height:500px;

    /* TODO: remove next 2 lines: */
    background:blue;
    color:white;
}

section#chat{
    width:30%;
    height:500px;
    float:right;
}


